body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gimage {
  width: 400px;
  margin-left: 769px;
  background-color: white;
  margin-top: 180px;
}

.searchbar {
  border: 1px solid rgb(216, 17, 17);
  width: 30%;
  height: 50px;
  margin-left: 690px;
  padding-bottom: 10px;
  border-radius: 35px;
}
.searchbar > .search {
  height: 49px;
  /* height: 100%; */
  width: 510px;
  border-radius: 45px;
  border: none;
}
#buttons {
  margin-left: 820px;
  margin-top: 10px;
}
.searchbar > .mic {
  width: 50px;
  height: 30px;
  padding-top: 6px;
}
#buttons > .Search {
  font-weight: bolder;
  width: 150px;
  height: 70px;
  margin-right: 10px;
  /* border: 1px solid red; */
}
#buttons > .Lucky {
  font-weight: bolder;
  width: 150px;
  height: 70px;
  /* border: 1px solid red; */
}

h4 {
  font-weight: bold;
  margin-left: 870px;
}

#russian {
  color: blue;
}
